﻿@model FileTran

<div style="white-space:pre-wrap">
    <b>Requirements</b>

    Upload file. Create a web-page with standard file uploader. Must support both
    formats csv and xml. File size is max 1 MB. Save data into database. Feel free to
    design database structure that is suitable for this.

    a) If file is in unknown format then return error message “Unknown format”.
    b) If file didn’t pass validation return Bad Request with all validation messages.
    c) If everything is okay then return HTTP Code 200.
</div>
<br />
<br />

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(x => x.UploadFile)
    <input type="file" name="@Html.NameFor(x => x.UploadFile)" id="@Html.IdFor(x => x.UploadFile)" />
    @Html.ValidationMessageFor(x => x.UploadFile)
    <br />
    <input type="submit" value="upload" />
    <br />
    @ViewBag.Message
}